{% extends "base.html.twig" %}


{% block content %} 

    <form method="post" action="">

        <input name="imie" class="a50" type="text" placeholder="Imię" />
        <input name="nazwisko" class="a50" type="text" placeholder="Nazwisko"  />
        <input name="email" type="text" placeholder="Email"  />
        <input name="nrtelefonu" type="text" placeholder="Nr telefonu"  />
        <textarea name="wiadomosc" cols="40" rows="3">Wiadomość</textarea>
        <input type="submit" />

    </form>

{% endblock %}
