{% extends "base.html.twig" %}


{% block content %} 

    <form>

        <input class="a50" type="text" placeholder="Imię" />
        <input class="a50" type="text" placeholder="Nazwisko"  />
        <input type="text" placeholder="Email"  />
        <input type="text" placeholder="Nr telefonu"  />
        <textarea name="wiadomosc" cols="40" rows="3">Wiadomość</textarea>
        <input type="submit" name="wyslij" />

    </form>

{% endblock %}
